[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.container-fluid {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: color(primary);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & > .container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    &-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;

        &:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 0.25rem;
        }
        &-icon {
            width: 1.2rem;
            display: block;
        }
        path {
            fill: currentColor;
        }
    }

    &-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }

    &-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    &-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        .nav-link {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.navbar {
    &-dark {
        .navbar {
            &-brand {
                color: #fff;
            }
            &-toggler {
                color: rgba(255, 255, 255, 0.55);
                border-color: rgba(255, 255, 255, 0.1);
            }
            &-nav {
                .nav-link {
                    color: rgba(255, 255, 255, 0.55);
                    &.active {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    &-light {
        .navbar {
            &-brand {
                color: rgba(0,0,0,.9);
            }
            &-toggler {
                color: rgba(0,0,0,.55);
                border-color: rgba(0,0,0,.1);
            }
            &-nav {
                .nav-link {
                    color: rgba(0,0,0,.55);
                    &.active {
                        color: rgba(0,0,0,.9);
                    }
                }
            }
        }
    }
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
        .navbar {
            &-toggler {
                display: none;
            }
            &-nav {
                flex-direction: row;
                .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
            &-collapse {
                height: auto !important;
                display: flex !important;
                flex-basis: auto;
            }
        }
    }
}

// DROPDOWN

.navbar-nav {
    .dropdown-menu {
        position: static;
    }
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    margin-top: 0.125rem;

    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-nav {
            .dropdown-menu {
                position: absolute;
            }
        }
    }
}

// SEARCH BUTTON

.me-auto {
    margin-right: auto!important;
}