[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
    display: block;
    padding: 0.2rem 1rem;
    color: color(primary);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top:1.8rem;
    padding-bottom:1.8rem;
    z-index: 1000;

    & > .container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    &-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: none;
        position: absolute;
        padding: 0.7rem;
        top: 0;
        right: 0;
        z-index: 1;

        &:focus {
            text-decoration: none;
            outline: 0;
        }
        &-icon {
            width: 1.2rem;
            display: block;
        }
        path {
            fill: color(dark);
        }
    }
    &-brand-wrapper span {
        display: inline-block;
        text-transform: capitalize;
        font-size: fontSize(md);
        font-weight: 400;
    }

    &-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration: none;
        white-space: nowrap;
        text-transform: capitalize;
        padding-left: 1.8rem;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top:  0.2rem;
            left: 0;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            background-color: color(warning);
        }
    }

    &-collapse {
        padding-top: 10rem;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: color(light-v2);
    }

    &-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        text-align: center;
        
        .nav-link {
            padding-left: 0;
            padding-right: 0;
            text-transform: capitalize;

            font-size: fontSize(xl);
            margin-bottom: 1.3rem;
        }
    }
}

.navbar {
    &-dark {
        .navbar {
            &-brand {
                color: #fff;
            }
            &-toggler {
                color: rgba(255, 255, 255, 0.55);
            }
            &-nav {
                .nav-link {
                    color: rgba(255, 255, 255, 0.55);
                    &.active {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    &-light {
        .navbar {
            &-brand {
                color: rgba(0,0,0,.9);
            }
            &-toggler {
                color: rgba(0,0,0,.55);
            }
            &-nav {
                .nav-link {
                    color: color(dark);
                    &:hover,
                    &.active {
                        color: color(gold);
                    }
                }
            }
        }
    }
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    opacity: 0;
    transform: translateY(-10%);
    overflow: hidden;
    transition: 0.3s linear,opacity 0.3s ease-out;
}

@media (min-width: 768px) {
  
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
        .navbar {
            &-toggler {
                display: none;
            }
            &-nav {
                flex-direction: row;
                text-align: left;
                .nav-item {

                    &:not(:last-of-type){
                        border-right: 1px solid color(secondary) ;
                    }
                }
                .nav-link {
                    padding-right: 1rem;
                    padding-left: 1rem;

                    font-size: fontSize(lg);
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
            &-collapse {
                padding-top: 0;
                display: flex !important;
                flex-basis: auto;
                flex-grow: 0;
                position: static;
                width: auto;
            }
        }
    }
}


/* TOGGLER */
.hamburger .line{
  width: 25px;
  height: 3px;
  background-color: color(dark);
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  transform: translateY(-6px) rotate(-45deg);

}
